body {
    background: black;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 32pt;
    font-weight: 900;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    color: white;
}

#title {
    margin-top: 5%;
    margin-bottom: 5%;
    border-bottom: 1px white;

}

#description {
    margin-bottom: 5%;
}

#chord {
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 14pt;
    text-align: center;
    color: white;
    margin: 0 5% 0 5%;
}

ol {
    font-family: 'Space Mono', monospace;
    font-size: 14pt;
    line-height: 40px;
    text-align: center;
    list-style-position: inside;
  
}

li {
    text-align: center;
}

button {
    background-image: linear-gradient(7deg, black, #302b63, black);
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-left: 0;
    margin-right: 0;
    border: .5px;
    font-family: 'Space Mono', monospace;
    font-size: 14pt;
    margin-bottom: 5%;
}